<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ICP4.BusinessLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add databaseInstanceName="360TrainingServiceDB" writeLogStoredProcName="WRITE_LOG"
        addCategoryStoredProcName="ADD_CATEGORY" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
        traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="Database Trace Listener" />
      <add timestampFormat="yyyy-MM-dd HH-mm-ss" ageThreshold="1" ageUnit="Days"
        sizeThreshold="5000" sizeUnit="Kilobytes" maximumNumberOfLogs="0"
        fileName="logs/lcms-player.log" header="-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-="
        footer="=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-"
        formatter="Text Formatter" listenerDataType="LogicaCMG.EnterpriseLibraryExtensions.Logging.Configuration.RollingFileTraceListenerData, LogicaCMG.EnterpriseLibraryExtensions.Logging, Version=0.5.2.0, Culture=neutral, PublicKeyToken=null"
        traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="Exception TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Exception TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Exception TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="ICPException">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling"
                formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
                priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
                name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <connectionStrings>
    <add name="360TrainingServiceDB" connectionString="Database=LCMS;Server=kar-db-1;user=lcms;password=lcms;Connect Timeout=500;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="FTPServerPath" value="10.0.100.250"/>
    <add key="FTPUser" value="anonymous"/>
    <add key="FTPPassword" value=""/>
    <add key="DirectoryPath" value="//DocuSignPDF"/>
    <add key="ICPFileSystem" value="http://10.0.100.92/ICPFileSystem"/>
    <add key="PreAssessmentNOQuestion" value="0"/>
    <add key="PostAssessmentNOQuestion" value="0"/>
    <add key="QuizNOQuestion" value="0"/>
    <add key="ClearCache" value="No"/>
    <add key="LegacyVUValidationQuestionService" value="http://kar-dev-3/vu3/ICP4/ValidationQuestions.cfc"/>
    <add key="LMSConnector_AdapterURL" value="http://dev-vu3/vu3/icp4/VUProxyAdapter.cfm"/>
    <add key="ICPAssessmentService" value="https://10.0.100.92/ICPAssessmentService/AssessmentService.asmx"/>
    <add key="ICPBrandingService" value="https://10.0.100.92/ICPBrandingService/BrandingService.asmx"/>
    <add key="ICPCourseService" value="https://10.0.100.92/ICPCourseService/CourseService.asmx"/>
    <add key="ICPTrackingService" value="https://10.0.100.92/ICPTrackingService/TrackingService.asmx"/>
    <add key="LCMS_VUConnectorService" value="https://kar-dev-3/vu3/icp4/LCMS_VUConnectorService.cfc?wsdl"/>
    <add key="SelfPacedCourseUnlockURL" value="Validation/ValidationUnlockRequest.aspx"/>
    <add key="LegacyCourseUnlockURL" value="http://dev-vu-3/VU3/ValidationEnhancement/StudentValidationResetRequest.cfm"/>
    <add key="LearningSessionCompleteURL" value="http://kar-dev-7:8080/lms/service/lms-lcms/lmsLcms.wsdl"/>
    <add key="ExternalCourseHandlerURL" value="http://10.0.100.92/PQM/CourseLaunch.aspx"/>
    <add key="ICPCourseServiceTimeout" value="360000"/>
    <add key="SMTPAddress" value="10.0.0.198"/>
    <add key="FromEmailValidationUnlock" value="info@360training.com"/>
    <add key="BccEmailValidationUnlock" value="marketing@360training.com"/>
    <add key="VUCourseDemoURL" value="http://kar-dev-3/VU3/ICP4/VUProxyAdapter_Demo.cfm"/>
    <add key="NUnitTestDataPath" value="..\..\NUnitTest\DevTestData.config"/>
    <!--For LCMS-11217-->
    <add key="APIUrl" value="https://demo.docusign.net/api/3.0/api.asmx"/>
    <add key="APIAccountId" value="6efb0364-fab1-497b-ab33-532b3141a122"/>
    <add key="APIUserEmail" value="abdullah@agilosoft.com"/>
    <add key="Password" value="karachi1"/>
    <add key="IntegratorsKey" value="AGIL-ecde3fcf-a3b2-43fd-804c-266cef44da23"/>
    <add key="TemplateId" value="F7F27C12-BF28-4630-AAC6-525940088C64"/>
    <add key="signedpdfs"  value="~/signedpdfs/"/>
  </appSettings>

  
  <!--<applicationSettings>
    <ICP4.BusinessLogic.Properties.Settings>
      <setting name="ICP4_BusinessLogic_ICPAssessmentService_AssessmentService"
        serializeAs="String">
        <value>http://uat-player.360training.com/ICPAssessmentService/AssessmentService.asmx</value>
      </setting>
      <setting name="ICP4_BusinessLogic_ICPBrandingService_BrandingService"
        serializeAs="String">
        <value>http://uat-player.360training.com/ICPBrandingService/BrandingService.asmx</value>
      </setting>
      <setting name="ICP4_BusinessLogic_ICPCourseService_CourseService"
        serializeAs="String">
        <value>http://uat-player.360training.com/ICPCourseService/CourseService.asmx</value>
      </setting>
      <setting name="ICP4_BusinessLogic_ICPTrackingService_TrackingService"
        serializeAs="String">
        <value>http://uat-player.360training.com/ICPTrackingService/TrackingService.asmx</value>
      </setting>
      <setting name="ICP4_BusinessLogic_LCMS_VUConnectorService_LCMS_VUConnectorServiceService"
        serializeAs="String">
        <value>http://kar-dev-3/vu360/vu3/icp4/LCMS_VUConnectorService.cfc</value>
      </setting>
    </ICP4.BusinessLogic.Properties.Settings>
  </applicationSettings>-->
  <applicationSettings>
    <ICP4.BusinessLogic.Properties.Settings>
      <setting name="ICP4_BusinessLogic_LCMS_VUConnectorService_LCMS_VUConnectorServiceService"
        serializeAs="String">
        <value>http://kar-dev-3/vu360/vu3/icp4/LCMS_VUConnectorService.cfc</value>
      </setting>
      <setting name="ICP4_BusinessLogic_LegacyVUValidationQuestionService_ValidationQuestionsService"
        serializeAs="String">
        <value>http://kar-dev-3/vu3/ICP4/ValidationQuestions.cfc</value>
      </setting>
      <setting name="ICP4_BusinessLogic_LearningSessionComplete_lmsLcmsService"
        serializeAs="String">
        <value>http://10.0.100.152:8080/lms/service/lms-lcms/</value>
      </setting>
      <setting name="ICP4_BusinessLogic_ICPBrandingService_BrandingService"
        serializeAs="String">
        <value>https://10.0.100.179/iCPBrandingService/BrandingService.asmx</value>
      </setting>
      <setting name="ICP4_BusinessLogic_ICPAssessmentService_AssessmentService"
        serializeAs="String">
        <value>https://10.0.100.179/iCPAssessmentService/AssessmentService.asmx</value>
      </setting>
      <setting name="ICP4_BusinessLogic_ICPTrackingService_TrackingService"
        serializeAs="String">
        <value>http://localhost:50061/TrackingService.asmx</value>
      </setting>
      <setting name="ICP4_BusinessLogic_ICPCourseService_CourseService"
        serializeAs="String">
        <value>https://10.0.100.179/ICPCourseService/CourseService.asmx</value>
      </setting>
      <setting name="ICP4_BusinessLogic_ICP4PlayerUtility_PlayerUtility"
        serializeAs="String">
        <value>http://localhost:58412/PlayerUtility.asmx</value>
      </setting>
    </ICP4.BusinessLogic.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="APIServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="true"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="50000000" maxBufferPoolSize="524288" maxReceivedMessageSize="50000000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" >
              <extendedProtectionPolicy policyEnforcement="Never"></extendedProtectionPolicy>
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="APIServiceSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="CredentialSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="CredentialSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://demo.docusign.net/api/3.0/api.asmx"
          binding="basicHttpBinding" bindingConfiguration="APIServiceSoap"
          contract="DocuSignAPI.APIServiceSoap" name="APIServiceSoap" />
      <endpoint address="https://demo.docusign.net/api/3.0/credential.asmx"
          binding="basicHttpBinding" bindingConfiguration="CredentialSoap"
          contract="CredentialAPI.CredentialSoap" name="CredentialSoap" />
    </client>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" maxMessagesToLog="20" maxSizeOfMessageToLog="500000"/>
    </diagnostics>
  </system.serviceModel>
</configuration>