<?xml version="1.0" standalone="yes"?>
<DocumentElement>
  <TestData>
    <VariableName>loggedInUserID</VariableName>
    <VariableValue>11</VariableValue>
    <VariableDescription>existing admin manager id</VariableDescription>
  </TestData>
  <TestData>
    <VariableName>contentOwnerID</VariableName>
    <VariableValue>1</VariableValue>
    <VariableDescription>existing content owner</VariableDescription>
  </TestData> 
  <TestData>
    <VariableName>brandingID</VariableName>
    <VariableValue>1</VariableValue>
    <VariableDescription>existing branding id</VariableDescription>
  </TestData>
  <TestData>
    <VariableName>localeID</VariableName>
    <VariableValue>1</VariableValue>
    <VariableDescription>Locale ID</VariableDescription>
  </TestData>
  <TestData>
    <VariableName>languageID</VariableName>
    <VariableValue>1</VariableValue>
    <VariableDescription>language ID</VariableDescription>
  </TestData>
  <TestData>
    <VariableName>variant</VariableName>
    <VariableValue>En-US</VariableValue>
    <VariableDescription>language variant</VariableDescription>
  </TestData>
  <TestData>
    <VariableName>brandCode</VariableName>
    <VariableValue>DEFAULT</VariableValue>
    <VariableDescription>brande code for Branding ID = 1</VariableDescription>
  </TestData>
  <TestData>
    <VariableName>embeddedAcknowledgmentHeadingValue</VariableName>
    <VariableValue>Acknowledgment</VariableValue>
    <VariableDescription>Embedded Acknowledgment Heading Value</VariableDescription>
  </TestData>
  <TestData>
    <VariableName>embeddedAcknowledgmentHelpTextValue</VariableName>
    <VariableValue>Please read the following statement.</VariableValue>
    <VariableDescription>Embedded Acknowledgment Help Text Value</VariableDescription>
  </TestData>
  <TestData>
    <VariableName>embeddedAcknowledgmentIAgreeButtonValue</VariableName>
    <VariableValue>I Agree</VariableValue>
    <VariableDescription>Embedded Acknowledgment I Agree Button Value</VariableDescription>
  </TestData>
  <TestData>
    <VariableName>selfpaced-CourseID-Published</VariableName>
    <VariableValue>12228</VariableValue>
    <VariableDescription>existing self paced course id published</VariableDescription>
  </TestData>  
  <TestData>
    <VariableName>selfpaced-CourseID-Drafted</VariableName>
    <VariableValue>12230</VariableValue>
    <VariableDescription>existing self paced course drafted</VariableDescription>
  </TestData>  
  <TestData>
    <VariableName>courseID-CourseConfiguration</VariableName>
    <VariableValue>12231</VariableValue>
    <VariableDescription>course configuration id</VariableDescription>
  </TestData>  
  <TestData>
    <VariableName>courseID-Drafted-ACK-OFF</VariableName>
    <VariableValue>12232</VariableValue>
    <VariableDescription>selfpaced Drafted course with ACK OFF</VariableDescription>
  </TestData>  
  <TestData>
    <VariableName>courseID-Published-ACK-OFF</VariableName>
    <VariableValue>12233</VariableValue>
    <VariableDescription>self paced course published ACK OFF</VariableDescription>
  </TestData>  
  <TestData>
    <VariableName>sceneTemplateID-ACK</VariableName>
    <VariableValue>241</VariableValue>
    <VariableDescription>ACK Scene template ID</VariableDescription>
  </TestData>
  <!-- Unit Test Cases with list of entries and Test case descriptions-->
  <TestData>
    <VariableName>courseID-Configuration-TestCases</VariableName>
    <VariableValue>12233|12232|12231|12236</VariableValue>
    <VariableDescription>Published Course with "ACK OFF"|Drafted Course with Config "ACK OFF"|Happy Case for courseconfiguration|My Test Course</VariableDescription>
  </TestData>  
</DocumentElement>